<footer class="footer" style="border-top: 1px solid #18191A;">
  <div class="container" >
    <!-- <p class="text-muted mt-3">django-bootstrap-modal-forms
    </p> -->

    <p class="text-muted ml-auto m-0"  style="float:left">Created and maintained by &nbsp;
      <a href="mailto:dcjames.park@gmail.com" target="_blank" style="text-decoration: none;">
        <i class="fa fa-google"></i> 
      </a>
      <a href="mailto:dcjames.park@gmail.com" target="_blank">&nbsp;dcjames.park</a>
    </p>


  </div>
</footer>